name: Deploy site files

on:
  push:
    branches:
      - master # 只在master上push触发部署
    paths-ignore: # 下列文件的变更不触发部署，可以自行添加
      - README.md
      - LICENSE

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - name: Pre-Build
        shell: bash
        run: |
          git config --global user.email "zhaoyimingg@gmail.com" && git config --global user.name "YM" && npm install -g && npm run build  

      - name: Add-CNAME
        shell: bash
        run: |
          echo my.b2a1.cn > ./public/CNAME
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          #personal_token: ${{ secrets.DEPLOY_KEY }}
          #external_repository: imamiao/imamiao.github.io
          #publish_branch: master
          #publish_dir: ./public
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public